@import "../../mixins-master";

.collection-header {
	color: #FFF;
	padding: 30px 0;
	text-align: center;
	background: $c-blends;
	.container > * {
		margin: 0;
	}
	.h6 {
		font-weight: 400;
	}
}
.bc-product-archive {
	.sidebar {
		padding-top: 35px;
	}
}
.search-box {
	padding-top: 35px;
	label, input {
		width: 100%;
	}
}

.author-container {
	margin: 0 auto;
	max-width: 1150px;
	
}

// recipe author style


// recipe author styles

.author-details--header {
	position: relative;
	@media (max-width: 767px) {
		// margin-left: -32px;
		// margin-right: -32px;
		padding-bottom: 40px;
	}
}

.author-deatils--header-info {
	text-align: center;
	@media (max-width: 767px) {
		position: absolute;
		bottom: 100px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		h1 {
			font-size: 2.6rem;
			line-height: 1;
		}
	}
}

.author-deatils--header-banner {
	line-height: 0;
	@media (max-width: 767px) {
		position: relative;
		&::after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			background-image: linear-gradient(180deg, transparent, rgba(0,0,0,.65));
		}
	}
}

.author-deatils--header-info-social svg {
	width: 18px;
	height: 18px;
	fill: $c-spices;
	margin-right: 10px;
	vertical-align: text-top;
}

.author-deatils--header-info-social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: $c-white;
}

.author-deatils--header-banner img {
	max-width: 100%;
	width: 100%;
	max-height: 450px;
	object-fit: cover;
	object-position: top;
}

.author-deatils--header-info h1 {
	color: $c-white;
	margin: 0 0 20px;
}

.author-deatils--header-info-social a {
	color: $c-white;
	display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
	&:hover,
	&:active,
	&:focus {
		color: $c-spices;
	}
}

.author-details--content {
	max-width: 700px;
	margin: 0 auto 40px;
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 20px;
		@media (max-width: 767px) {
			text-align: left !important;
		}
	}
}

.author-details--recipes {
	padding-bottom: 160px;
}
.author-details--recipes-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.author-details--recipes-heading {
	text-align: center;
	font-size: $h3-font-size;
}

.author-details--recipe-card-box {
	flex-basis: 100%;
	max-width: 100%;
	padding: 0 15px;
	margin-bottom: 30px;
}
.author-details--recipe-card {
	border-radius:  8px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	margin-bottom: 15px;
	height: 100%;
	&:hover,
	&:focus {
		.author-details--recipe-card-title {
			a {
				color: $c-spices;
			} 
		}
	}
}

.author-details--recipe-card-image .post-thumbnail {
	display: block;
}

.author-details--recipe-card-image .post-thumbnail img {
	max-height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 8px 8px 0 0;
	width: 100%;
}

.author-details--recipe-card-author {
	text-align: center;
}

.author-details--recipe-card-author h5 {
	font-size: 1.2rem;
	margin: 10px 0;
	color: $c-gray-400;
}

.author-details--recipe-card-title {
	padding: 0 10px;
	text-align: center;
	font-size: $h5-font-size;
	a {
		color: $c-blends;
		&:hover,
		&:focus,
		&:active {
			color: $c-spices;
		}
	}
}

.author-details--recipe-card-author-info {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $c-blends;
	text-align: center;
	line-height: 30px;
	margin: -20px auto 0;
	border: 3px solid $c-white;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.author-details--recipe-card-author-info span {
	font-size: 1.0rem;
	color: $c-spices;
	display: inline-block;
}


.author-details--recipe-card-tags {
	display: flex;
	list-style-type: none;
	position: relative;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.author-details--recipe-card-tags li span {
	display: block;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	color: $c-gray-400;
	letter-spacing: .75px;
}

.author-details--recipe-card-tags li {
	flex-basis: 50%;
	max-width: 50%;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
	color: #1a1919;
	padding-bottom: 10px;
	padding-top: 10px;
}


.author-details--recipe-card-tags::after {
	position: absolute;
	left: 50%;
	top: 0;
	content: "";
	width: 2px;
	height: 100%;
	background-color: $c-gray-100;
	transform: translateX(-50%);
}

// recipes page style

.page-header.recipes-header {
	text-align: center;
	background-color: #000000;
	padding: 30px;
}

.page-header.recipes-header h1 {
	font-size: 5.0rem;
	margin: 0 0 10px;
	line-height: 1;
	color: $c-white;
}

.page-header.recipes-header .recipes-header-subHeading {
	font-size: 1.6rem;
	color: $c-white;
	display: block;
}
.recipes-search-form {
	margin-top: 7rem;
	margin-bottom: 5rem;
}
.featured__recipe--carousel {
	margin-left: 0px;
	margin-right: 0px;
}

.featured__recipe--single {
	width: 100%;
	display: flex;
	position: relative;
	mark {
		color: inherit;
		background: none;
	}
	.featured__recipe--single-text {
		z-index: 1;
		width: 100%;
		display: flex;
		min-height: 450px;
		position: relative;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		        justify-content: center;
		.featured__recipe-container {
			width: 100%;
			padding: 100px 15%;
			h2 {
				color: $c-white;
				margin: 1rem 0 0;
			}
			svg {
				width: 1.8rem;
				fill: $c-spices;
			}
		}
		.featured__recipe--single-meta-info {
			left: 0;
			bottom: 0;
			color: #FFF;
			width: 100%;
			position: absolute;
			ul {
				margin: 0;
				width: 100%;
				display: flex;
				padding: 40px 15%;
			}
			li {
				display: block;
				font-weight: 700;
				line-height: 2rem;
				padding-right: 15%;
				text-transform: uppercase;
				span {
					font-size: 1.4rem;
					color: $c-gray-200;
					margin-right: 1rem;
					letter-spacing: 1.6px;
					font-family: $font-alt;
				}
				&:last-of-type {
					padding-right: 0;
				}
			}
		}
	}
	.featured__recipe--single-image {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		background-color: $c-gray-900;
		background-position: center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		border-bottom-right-radius: 48px;
		&::before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: ' ';
			position: absolute;
			background: rgb(0,0,0);
			background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
			background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
		}
		a {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
		}
	}
}

.featured--tag {
	font-weight: 700;
    font-size: 1.4rem;
    padding: 3px 18px;
    line-height: 24px;
    border-radius: 20px;
    display: inline-block;
    background: $c-spices;
    text-transform: uppercase;
}

.tax-collaborators {
	.collaborators-section-banner {
		color: #FFF;
		height: 380px;
		display: flex;
		position: relative;
		text-align: center;
		padding: 70px 30px;
		margin-bottom: 56px;
		background-position: center;
		-webkit-align-items: flex-end;
		        align-items: flex-end;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		-webkit-justify-content: center;
		        justify-content: center;
		* {
			margin: 0;
			z-index: 2;
			position: relative;
		}
		&::before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: ' ';
			position: absolute;
			background: rgb(0,0,0);
			background: rgba(0,0,0,0.65);
			background: -moz-linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(255,255,255,0) 100%);
			background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
		}
	}
	.bc-product-grid {
		margin-top: 48px;
	}
	.about-collaborator-section {
		margin-top: 300px;
		padding-bottom: 40px;
		background: $c-gray-100;
	}
	.about-img {
		top: -97px;
		width: 100%;
		display: block;
		max-width: 588px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-bottom: -97px;
	}
	.about-inner {
		background: #FFF;
		margin-top: -115px;
		padding-bottom: 90px;
		-webkit-border-radius: 16px;
		        border-radius: 16px;
		-webkit-box-shadow: $shadow-xl;
				box-shadow: $shadow-xl;
				
		p {
			a {
				border-bottom: 2px solid currentColor;
			}
		}
	}
	.about-label {
		z-index: 1;
		display: block;
		padding: 0 15px;
		max-width: 112px;
		line-height: 40px;
		position: relative;
		text-align: center;
		margin: -20px auto 0;
		background: $c-spices;
	}
	.about-title {
		margin-top: 12px;
		text-align: center;
		margin-bottom: 28px;
	}
	.more-collaborators {
		text-align: center;
		padding-top: 105px;
		padding-bottom: 105px;
		.collaborator-card {
			margin: 0 12px;
		}
	}
	.collaborators-banner {
		color: #FFF;
		background-color: $c-gray-900;
		[class^="banner-img"] {
			display: flex;
			min-height: 360px;
			position: relative;
			text-align: center;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-justify-content: center;
			        justify-content: center;
			&::before {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: ' ';
				position: absolute;
				background: rgb(0,0,0);
				background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
				background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
			}
			h1 {
				z-index: 2;
				position: relative;
			}
		}
		.banner-img {
			height: 38vw;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			background-position: center top;
		}
		.banner-text {
			position: relative;
			.small-contain {
				width: 100%;
				margin: 0 auto;
				max-width: 594px;
				padding: 40px 32px;
				text-align: center;
				p {
					font-size: 1.8rem;
				}
				> *:first-child {
					margin-top: 0;
				}
				> *:last-child {
					margin-bottom: 0;
				}
			}
			&::before {
				top: 0;
				left: 50%;
				width: 48px;
				height: 4px;
				content: " ";
				position: absolute;
				background: $c-spices;
				-webkit-transform: translate(-50%, -50%);
				   -moz-transform: translate(-50%, -50%);
				    -ms-transform: translate(-50%, -50%);
				     -o-transform: translate(-50%, -50%);
				        transform: translate(-50%, -50%);
			}
		}
	}
}


